{
  "extends": "eslint-config-synacor",
  "rules": {
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "react/jsx-indent-props": [2, 2],
    "brace-style": ["error", "1tbs"]
  }
}
